<div class="container-fluid">
          <!-- Content Row -->
 <div class="row">
     <div class="container p-4">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-bady">
                       <form>
                           <div class="form-group">
                                <div class="card-header bg-light">
                            <h6 class="font-weight-bold mb-0">Registar Usuarios </h6>
                            </div>
                            </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombres</label>
                            <input type="nombre" class="form-control" id="inputEmail4" placeholder="Nombres Completos">
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputPassword4">Apellidos</label>
                            <input type="apellido" class="form-control" id="inputPassword4" placeholder="Apellidos Completos">
                            </div>
                            <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Correo Electronico">
                            </div>
                            <div class="form-group col-md-5">
                            <label for="inputPassword4">Telefonos</label>
                            <input type="telefono" class="form-control" id="inputPassword4" placeholder="Celular/Fijo">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputAddress">Profesión</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Nombre Carrera Profesional">
                        </div>
                            <div class="form-group col-md-1">
                            <label for="inputPassword4">Edad</label>
                            <input type="edad" class="form-control" id="inputPassword4" placeholder="Años">
                            </div>
                            <div class="form-group col-md-3">
                            <label for="inputPassword4">Salario</label>
                            <input type="salario" class="form-control" id="inputPassword4" placeholder="Pesos">
                            </div>
                            <div class="form-group col-md-3">
                            <label for="inputPassword4">Banco</label>
                            <input type="edad" class="form-control" id="inputPassword4" placeholder="Banco">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputPassword4">Fecha de Contancto</label>
                            <input type="date" class="form-control" id="inputPassword4" placeholder="Contacto">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputPassword4">Fecha Ultimo Contacto</label>
                            <input type="Date" class="form-control" id="inputPassword4" placeholder="Ultimo Contacto">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputPassword4">Proximo Contacto</label>
                            <input type="Date" class="form-control" id="inputPassword4" placeholder="Proximo Contacto">
                            </div>                        
                        </div>                                              
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="inputCity">Ciudad</label>
                            <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                            <label for="inputState">Departamento</label>
                            <select id="inputState" class="form-control">
                                <option selected>Seleccione</option>
                                <option>Amazonas</option>
                                <option>Antioquia</option>
                                <option>Arauca</option>
                                <option>Átlantico</option>
                                <option>Bogotá</option>
                                <option>Bolivar</option>
                                <option>Boyacá</option>
                                <option>Caldas</option>
                                <option>Caquetá</option>
                                <option>Casanare</option>
                                <option>Cauca</option>
                                <option>Cesar</option>
                                <option>Chocó</option>
                                <option>Córdoba</option>
                                <option>Cundinamarca</option>
                                <option>Guainía</option>
                                <option>Guaviare</option>
                                <option>Huila</option>
                                <option>La GUajira</option>
                                <option>Magdalena</option>
                                <option>Meta</option>
                                <option>Nariño</option>
                                <option>Norte de Santander</option>
                                <option>Putumayo</option>
                                <option>Quindío</option>
                                <option>Risaralda</option>
                                <option>San Andrés y Providencia</option>
                                <option>Santander</option>
                                <option>Sucre</option>
                                <option>Tolima</option>
                                <option>Valle de Cauca</option>
                                <option>Vaupés</option>
                                <option>Vichada</option>
                            </select>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
 </div>
</div>
